# --- SUPABASE MPYA - tqazqaqdzqpbftdcekzb ---
NEXT_PUBLIC_SUPABASE_URL=https://tqazqaqdzqpbftdcekzb.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_tjXiP5Cl7SuaPHrLeBPnLA_x-evZQPc
VITE_SUPABASE_URL=https://tqazqaqdzqpbftdcekzb.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_tjXiP5Cl7SuaPHrLeBPnLA_x-evZQPc

# --- FIREBASE MPYA - habyedupro-final ---
VITE_FIREBASE_API_KEY=AIzaSyANah9nXCZHEcJ85U5grGmVNM2unWJHfKM
VITE_FIREBASE_AUTH_DOMAIN=habyedupro-final.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=habyedupro-final
VITE_FIREBASE_STORAGE_BUCKET=habyedupro-final.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=5469389965
VITE_FIREBASE_APP_ID=1:5469389965:web:923da452bae0b2160e8ec4
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyANah9nXCZHEcJ85U5grGmVNM2unWJHfKM
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=habyedupro-final.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=habyedupro-final
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=habyedupro-final.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=5469389965
NEXT_PUBLIC_FIREBASE_APP_ID=1:5469389965:web:923da452bae0b2160e8ec4

# --- AI & SMS ---
GEMINI_API_KEY=
BEEM_API_KEY=
BEEM_SECRET_KEY=
BEEM_SOURCE_ADDR=HABYEDU